In [1]:
import pandas as pd

In [8]:
data=pd.read_csv('data.csv')

In [9]:
data.head()

,Quest No,Age,Gender,Employment Category,Education,Income,Location,Bank,No of Years,Most frequently used Bank,...,Payint,Paycab,Mig1,Mig2,Mig3,Rec,Changeplan,FromBank,ToBank,ChangeReasons
0,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank A,12.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,Sometimes will,No,NaN,NaN,NaN
1,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank M,6.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,0,No,NaN,NaN,NaN
2,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank J,2.0,Bank B,...,NaN,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
3,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank B,NaN,Bank B,...,NaN,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN
4,KAN/2015/04/061,21-30,Male,Private Sector Employee,Bachelor's Decree,"Below N50,000",Kano,Bank C,5.0,Bank C,...,Yes,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN

In [11]:
[l for l in data.columns]

['Quest No',
 'Age',
 'Gender',
 'Employment Category',
 'Education',
 'Income',
 'Location',
 'Bank',
 'No of Years ',
 'Most frequently used Bank',
 'RatQOS',
 'RatFS',
 'RatIR',
 'RatERSA',
 'RatPOBR',
 'RatRFF',
 'FreqBra',
 'FreqATM',
 'FreqPOS',
 'FreqInt',
 'FreqMob',
 'FreqUSSD',
 'FreqTel',
 'MostfreqATM',
 'ATMproximity',
 'ATMqon',
 'ATMsecurity',
 'ATMros',
 'Device1',
 'Device2',
 'Device3',
 'Device4',
 'Cshwit',
 'Cshdep',
 'Fndtrf',
 'Balenq',
 'Mkgcmp',
 'Mkgpay',
 'Gtloan',
 'Gtfnad',
 'Bkfxdp',
 'Cshwit2',
 'Cshdep2',
 'Fndtrf2',
 'Balenq2',
 'mkgcmp2',
 'Mkgpay2',
 'Gtloan2',
 'Gtfnad2',
 'Bkfxdp2',
 'impcc1a',
 'cc1a',
 'impcc1b',
 'cc1b',
 'impcc2',
 'cc2',
 'impcc3',
 'cc3',
 'impcc4',
 'cc4',
 'impcc4b',
 'cc4b',
 'qosbrn1i',
 'qosbrn1',
 'qosbrn2i',
 'qosbrn2',
 'qosbrn3i',
 'qosbrn3',
 'tat1i',
 'tat1',
 'tat2i',
 'tat2',
 'tat3i',
 'tat3',
 'qosatm1',
 'qosatm1i',
 'qosatm2i',
 'qosatm2',
 'qosatm3i',
 'qosatm3',
 'qosatm4i',
 'qosatm4',
 'qosmob1i',
 'qosmob1',
 'qosmob2i',
 'qosmob2',
 'qosmob3i',
 'qosmob3',
 'qosmob4i',
 'qosmob4',
 'qosmob5i',
 'qosmob5',
 'qosmob6i',
 'qosmob6',
 'qosint1i',
 'qosint1',
 'qosint2i',
 'qosint2',
 'qosint3i',
 'qosint3',
 'qosint4i',
 'qosint4',
 'qosint5i',
 'qosint5',
 'qosint6i',
 'qosint6',
 'qoscct1i',
 'qoscct1',
 'qoscct2i',
 'qoscct2',
 'qoscct3i',
 'qoscct3',
 'qossm1i',
 'qossm1',
 'qossm2i',
 'qossm2',
 'qoscad1i',
 'qoscad1',
 'qoscad2i',
 'qoscad2',
 'qoscad3i',
 'qoscad3',
 'qoscad4i',
 'qoscad4',
 'acci',
 'acc',
 'infi',
 'inf',
 'prd1i',
 'prd1',
 'prd2i',
 'prd2',
 'eas1i',
 'eas1',
 'eas2i',
 'eas2',
 'qosci',
 'qosc',
 'Payuticash',
 'Payintcash',
 'Paycabcash',
 'Payuti',
 'Payint',
 'Paycab',
 'Mig1',
 'Mig2',
 'Mig3',
 'Rec',
 'Changeplan',
 'FromBank',
 'ToBank',
 'ChangeReasons']