In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
use_cols = [
    'Pclass', 'Sex', 'Age', 'Fare', 'SibSp',
    'Survived'
]


data = pd.read_csv('data/titanic.csv', usecols=use_cols)
data.head(3)
print(data.shape)

(891, 6)

In [3]:
len(pd.Series(data.Fare.unique()))

248

##  Detect by arbitrary boundary
identify outliers based on arbitrary boundaries

In [4]:
c= data.query('Fare > 300 or  Fare < 5')
print('Number of Outliers with Fare between 300 and 5 are:',len(c))
print('Proportion of outlier detect: {} Percent'.format(len(c)/len(data)*100))
print('upper bound :',300)
print('Lower bound :',5)
c.sort_values(by='Fare')

Number of Outliers with Fare between 300 and 5 are: 19
Proportion of outlier detect: 2.132435465768799 Percent
upper bound : 300
Lower bound : 5

     Survived  Pclass     Sex   Age  SibSp      Fare
179         0       3    male  36.0      0    0.0000
806         0       1    male  39.0      0    0.0000
732         0       2    male   NaN      0    0.0000
674         0       2    male   NaN      0    0.0000
633         0       1    male   NaN      0    0.0000
597         0       3    male  49.0      0    0.0000
815         0       1    male   NaN      0    0.0000
466         0       2    male   NaN      0    0.0000
481         0       2    male   NaN      0    0.0000
302         0       3    male  19.0      0    0.0000
277         0       2    male   NaN      0    0.0000
271         1       3    male  25.0      0    0.0000
263         0       1    male  40.0      0    0.0000
413         0       2    male   NaN      0    0.0000
822         0       1    male  38.0      0    0.0000
378         0       3    male  20.0      0    4.0125
679         1       1    male  36.0      0  512.3292
737         1       1    male  35.0      0  512.3292
258         1       1  female  35.0      0  512.3292

## IQR method
outlier detection by Interquartile Ranges Rule

In [5]:
threshold=5
iqr= data['Fare'].describe()['75%'] - data['Fare'].describe()['25%']
lower_thresh= data['Fare'].describe()['25%']- (iqr*threshold)
upper_thresh= data['Fare'].describe()['75%']+ (iqr*threshold)
d= data[(data.Fare < lower_thresh) | (data.Fare > upper_thresh)]
print('Number of outliers :', len(d))
print('Proportion of datapoints considered as outliers:',(len(d)/len(data))*100)
print('Upper bound : ', upper_thresh)
print('lower bound :', lower_thresh)

Number of outliers : 31
Proportion of datapoints considered as outliers: 3.479236812570146
Upper bound :  146.448
lower bound : -107.53760000000001

## Mean and Standard Deviation Method
outlier detection by Mean and Standard Deviation Method.

In [6]:
threshold= 3
lower_bound= data['Fare'].mean() - threshold * data['Fare'].std()
upper_bound= data['Fare'].mean() + threshold * data['Fare'].std()
d= data[(data.Fare < lower_bound) | (data.Fare > upper_bound)]
print('Number of outliers :', len(d))
print('Proportion of datapoints considered as outliers:',(len(d)/len(data))*100)
print('Upper bound : ', upper_thresh)
print('lower bound :', lower_thresh)

Number of outliers : 20
Proportion of datapoints considered as outliers: 2.244668911335578
Upper bound :  146.448
lower bound : -107.53760000000001

##  Outlier detection by Median and Median Absolute